
// usual CSS style target
.categories-container {
    background-color: red;
    padding: 5%;

    // with SASS we can next our nested targets within
    .category-container {
        background-color: rgb(192, 71, 71);
        padding: 5%;

        // and a nested nested target
        .category-body-container {
            background-color: gold;
            padding: 2%;
        }
    }
}



