
// usual CSS style target
.categories-container {
    background-color: goldenrod;
    padding: 5%;
}

// nested target
.categories-container .ccategory-container {
    background-color: red;
    padding: 10%;
}

// nested nested target

.categories-container .category-container .category-body-container {
    background-color: rgb(198, 45, 45);
    padding: 2%;
}